body {
	font-family:Arial, Helvetica, sans-serif;
	background-image: url('./images/flower.jpeg');
	background-repeat: no-repeat;
	/* background-position: center;  */
	background-attachment: fixed;
}

.main {
	position: relative;
	width: 25cm;
	padding: 1cm;
	margin: 0 auto;
}

.background-image {
	position: absolute;
	opacity: 0.3;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.heading {
	text-align: center;
	color:black;
	width: 600px;
	margin: auto;
	border-bottom: 1px solid red;
}

.center-image {
	text-align: center;
}

.center-image img {
	width: 800px;
	height: 400px;
}

a:hover {
	color: brown
}
